.wrapper {
  margin-inline: var(--mantine-spacing-xs);
  margin-block-end: var(--mantine-spacing-xs);
  height: 65vh;
  min-height: rem(350px);
  max-height: rem(600px);
}

.inner {
  position: relative;
  height: 100%;
  padding-inline: var(--mantine-spacing-lg);
  font-family: var(--mantine-alt-font-family);
  justify-content: center;
  align-items: stretch;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
