.wrapper {
  margin-block-end: rem(5px);
}

.inner {
  position: relative;
  padding-inline: var(--mantine-spacing-lg);
  justify-content: center;
  align-items: center;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

  &[data-init-state="empty"], &[data-init-state="start"], &[data-init-state="normal"][data-show-main-panel="false"] {
    min-height: rem(525px);
  }
}
