.box {
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-md);
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.label {
  font-family: var(--mantine-alt-font-monospace);
  font-size: var(--mantine-font-size-xs);
  font-weight: 600;
  color: var(--mantine-color-gray-light-color);
}
