.wrapper {
  overflow: initial;
  background-color: var(--zinnia-mirror-background-color);
  border-block-end: var(--zinnia-mirror-border);
  border-inline: var(--zinnia-mirror-border);
  border-radius: 0 0 var(--mantine-radius-md) var(--mantine-radius-md);
}
