.wrapper {
  overflow: initial;
  background-color: var(--zinnia-mirror-background-color);
  border-block-start: var(--zinnia-mirror-border);
  border-inline: var(--zinnia-mirror-border);
  border-radius: var(--mantine-radius-md) var(--mantine-radius-md) 0 0;
}
