.wrapper {
  --background-color: light-dark(alpha(var(--mantine-color-white), 0.5), alpha(var(--mantine-color-dark-9), 0.5));
  --border: rem(1px) solid light-dark(alpha(var(--mantine-color-white), 0.75), alpha(var(--mantine-color-dark-3), 0.5));

  overflow: initial;
  background-color: var(--background-color);
  border-block-start: var(--border);
  border-inline: var(--border);
  backdrop-filter: blur(1rem);
  border-radius: var(--mantine-radius-md) var(--mantine-radius-md) 0 0;
}

.tabsRoot {
  height: rem(30px);
  position: relative;
}

.tabsTab {
  padding-block: rem(5px);
  padding-inline-start: rem(6px);
  padding-inline-end: var(--mantine-spacing-xs);
  border: rem(1px) solid transparent;
  font-weight: 600;
  color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-white));
  height: rem(30px);

  &:hover:where(:not([data-active])) {
    background-color: light-dark(rgba(0, 0, 0, 0.12), var(--mantine-color-gray-light-hover));
  }

  &[data-active] {
    box-shadow: var(--mantine-shadow-xs);
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-5));
    border-color: light-dark(var(--mantine-color-white), var(--mantine-color-default-border));
  }
}

.tabsList {
  position: absolute;
  flex-wrap: nowrap;
  margin: rem(-10px) rem(-5px);
  padding: rem(10px) rem(5px);
  overflow-x: scroll;
  scrollbar-width: none;
  overscroll-behavior: contain;

  &[data-head-tail="head"] {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 98%, transparent 100%);

    @mixin rtl {
      mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 98%, transparent 100%);
    }
  }

  &[data-head-tail="tail"] {
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 98%, transparent 100%);

    @mixin rtl {
      mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 98%, transparent 100%);
    }
  }

  &[data-head-tail="center"] {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 2%, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 0) 100%);
  }
}
