.main {
  border: var(--zinnia-mirror-border);
  border-radius: 0;
  height: 100%;
  flex-grow: 1;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding: 0;
  box-shadow: var(--mantine-shadow-sm);
}
