.tool {
  padding: rem(8px);
  border-radius: var(--mantine-radius-sm);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  border: 1px solid transparent;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  }

  &:active {
    transform: translateY(rem(1px));
  }

  &[data-selected="true"] {
    background-color: light-dark(var(--mantine-color-blue-0), alpha(var(--mantine-color-blue-8), 0.15));
    border: 1px solid light-dark(var(--mantine-color-blue-2), alpha(var(--mantine-color-blue-8), 0.5));
  }
}

.settings {
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  width: 100%;
}
