.wrapper {
  border: var(--zinnia-mirror-border);
  padding: var(--mantine-spacing-xs);
  padding-inline-start: 0;
  backdrop-filter: blur(10px);
  background-color: alpha(var(--zinnia-root-background-color), 0.75);
}

.feed {
  overflow-y: scroll;
  scrollbar-width: none;
  gap: rem(5px);
  height: 60vh;
  mask-image: linear-gradient(
      0deg,
      transparent,
      #000 10%,
      #000 90%,
      transparent 100%
  );
}
