.wrapper {
  position: relative;
  width: 100%;
  background-color: light-dark(var(--mantine-color-gray-1), alpha(var(--mantine-color-dark-7), 0.5));
  border: rem(1px) solid light-dark(transparent, alpha(var(--mantine-color-dark-3), 0.5));
}

.background {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: calc(0.95 * var(--mantine-radius-lg));
  background-color: light-dark(#c8e3f9, #061e35);
}

[data-focus="true"] :is(.wrapper, .background) {
  border-radius: unset;
}

.content {
  z-index: 1;
  position: relative;
  flex-direction: column;
}
