.zinnia-root {
  font-family: var(--mantine-font-family), sans-serif;
  font-size: var(--mantine-font-size-md);
  line-height: var(--mantine-line-height);
  color: var(--mantine-color-text);

  -webkit-font-smoothing: var(--mantine-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--mantine-moz-font-smoothing);

  /* Zinnia UI */
  --zinnia-font-family: 'Montserrat', var(--mantine-font-family);
  --zinnia-font-monospace: 'JetBrains Mono', var(--mantine-font-family-monospace);

  @mixin light-root {
    --zinnia-mirror-background-color: alpha(var(--mantine-color-white), 0.5);
    --zinnia-mirror-border: rem(1px) solid alpha(var(--mantine-color-white), 0.75);
    /* Ref: https://developer.chrome.com/docs/css-ui/scrollbar-styling */
    scrollbar-color: var(--mantine-color-gray-3) var(--mantine-color-gray-0);
  }

  @mixin dark-root {
    --zinnia-mirror-background-color: alpha(var(--mantine-color-dark-9), 0.5);
    --zinnia-mirror-border: rem(1px) solid alpha(var(--mantine-color-dark-3), 0.5);
    scrollbar-color: var(--mantine-color-dark-3) var(--mantine-color-dark-5);
  }
}

@media screen and (max-device-width: 31.25em) {
  .zinnia-root {
    -webkit-text-size-adjust: 100%
  }
}

/* Fix error on Vector 2022 */
.mantine-Modal-inner {
  left: 0;
}
