.wrapper {
  padding-top: rem(5px);
  padding-inline-end: var(--mantine-spacing-xs);
  height: 100%;
  gap: rem(5px);

  &[data-focus="true"] {
    padding-bottom: rem(5px);
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
  }
}

.empty {
  background-color: var(--zinnia-mirror-background-color);
  border: var(--zinnia-mirror-border);
  box-shadow: var(--mantine-shadow-sm);
  border-radius: var(--mantine-radius-md);
  margin-inline-start: var(--mantine-spacing-xs);
  padding: var(--mantine-spacing-xs);
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: rem(350px);
}
