.card {
  background-color: var(--zinnia-mirror-background-color);
  border: var(--zinnia-mirror-border);
  flex: 1;
  box-shadow: var(--mantine-shadow-sm);
  padding: rem(4px) rem(8px) rem(8px);
  border-radius: var(--mantine-radius-md);
  max-width: 100%;
  overflow: auto;

  &:hover, &[data-active="true"] {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    border: rem(1px) solid light-dark(var(--mantine-color-white), var(--mantine-color-dark-4));
  }

  &:active {
    transform: translateY(calc(0.0625rem * var(--mantine-scale)));
  }

  &:focus {
    outline-offset: rem(-2px);
  }
}

.bar {
  margin: 0 rem(3px);
  width: rem(4px);
  height: 90%;
  border-radius: var(--mantine-radius-md);
  transition: background-color .1s ease;
}

.wrapper {
  align-items: center;
  flex-wrap: nowrap;
}

.timestamp {
  font-family: var(--zinnia-font-monospace), monospace;
  font-size: var(--mantine-font-size-xs);
  font-weight: 600;
  color: var(--mantine-color-blue-light-color);

  &[data-patrolled="true"] {
    color: light-dark(var(--mantine-color-teal-7), var(--mantine-color-teal-5));
  }

  &[data-patrolled="false"] {
    color: light-dark(var(--mantine-color-pink-7), var(--mantine-color-pink-5));
  }
}

.indexAndWikiId {
  font-family: var(--zinnia-font-monospace), monospace;
  font-size: var(--mantine-font-size-xs);
  font-weight: 600;
  color: var(--mantine-color-gray-light-color);
}

.anchorBox {
  flex: 1;
  min-width: 0;
}

.anchor {
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
