.wrapper {
  border-radius: var(--mantine-radius-md);
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  overflow-y: auto;
  overscroll-behavior: contain;
  scrollbar-width: none;
  padding: var(--mantine-spacing-xs);
  height: 100%;
}

.contribution {
  display: flex;
  flex-direction: column;
  padding-block: rem(5px);
  padding-inline: rem(10px);
  border-radius: var(--mantine-radius-md);
  border: rem(2px) solid transparent;
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-3), lighten(var(--mantine-color-dark-4), 0.05));
  }

  &[data-from="true"] {
    @mixin light {
      background-color: var(--mantine-color-orange-1);
      border-color: var(--mantine-color-orange-3);
    }

    @mixin dark {
      background-color: alpha(var(--mantine-color-orange-8), 0.25);
      border-color: alpha(var(--mantine-color-orange-8), 0.55);
    }
  }

  &[data-to="true"] {
    @mixin light {
      background-color: var(--mantine-color-cyan-1);
      border-color: var(--mantine-color-cyan-3);
    }

    @mixin dark {
      background-color: alpha(var(--mantine-color-cyan-8), 0.25);
      border-color: alpha(var(--mantine-color-cyan-8), 0.55);
    }
  }
}

.index, .timestamp, .revisionId, .delta {
  font-family: var(--zinnia-font-monospace), monospace;
  font-size: rem(10px);
  font-weight: 600;
}

.index {
  color: var(--mantine-color-gray-light-color);
}

.timestamp {
  color: var(--mantine-color-blue-light-color);
}

.revisionId {
  color: var(--mantine-color-gray-light-color);

  .contribution[data-from="true"] & {
    color: var(--mantine-color-orange-text);
  }

  .contribution[data-to="true"] & {
    color: var(--mantine-color-cyan-text);
  }
}

.pageTitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
